 <html>
        <head>
            <title>Django blog</title>
        </head>
        <body>
            <div>
                <h1><a href="">Django Blog</a></h1>
            </div>

            <div>
                <p>published: 21.03.2017, 22:55</p>
                <h2><a href="">My first post</a></h2>
                <p>Еу</p>
            </div>

            <div>
                <p>published: 21.03.2017, 22:56</p>
                <h2><a href="">My second post</a></h2>
                <p>Ау</p>
            </div>
        </body>
    </html>